<%= render 'shared/banner' %>

<div class="container">
  <div class="row">
    <% if @lists.length == 0  %>
      <div>No List yet!</div>
    <% end %>

    <% @lists.each do |list|%>
      <div class="col-md-4 col-sm-12 mb-4">

          <%= link_to "#{list.name}", list_path(list), class: "card-category"  %>
      </div>
    <% end %>
  </div>
</div>
