// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// list index

// list new
#list_name,
#list_photo {
  height: 48px;
  width: 100%;
  background-color: #e3e8eb;
  border-style: none;
  border-radius: 46px;
  padding: 0 2rem;
  cursor: pointer;
}

#list_name:hover,
#list_name:focus {
  opacity: 0.7;
}
#user_name,
#user_email,
#user_password,
#user_password_confirmation {
  height: 48px;
  width: 100%;
  background-color: #e3e8eb;
  border-style: none;
  border-radius: 46px;
  padding: 0 2rem;
  cursor: pointer;
  text-align: center;
}
