.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1edd88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1bcb7f;
  color: white;
}

// bookmark. show.html.erb

.btn-bookmark-show {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.btn-add-bookmark:hover,
.btn-list-edit:hover,
.btn-list-edit:hover {
  opacity: 0.7;
}
